{% extends "base.html" %}

{% block title %}E-mail odoslaný{% endblock %}

{% block background_loop %}{% endblock %} {% block nav_bar %}{% endblock %}

{% block content %}
    <div class="auth-container">
        <div class="auth-card auth-card-large">
            
            <h2 class="auth-title" style="color: var(--color-success) !important; border-bottom: 1px solid var(--color-border); padding-bottom: 15px;">
                ✅ E-mail odoslaný!
            </h2>
            
           <p class="auth-instruction-text">
                Poslali sme ti inštrukcie na obnovu hesla. <br>
                Skontroluj si emailovú schránku (alebo terminál).
           </p>
            
        </div>
    </div>
{% endblock %}