{% extends "base.html" %}

{% block title %}Obnova Hesla{% endblock %}

/* TOTO TU CHÝBALO A TOTO TEN NAVBAR VYMAŽE */
{% block nav_bar %}{% endblock %}
{% block background_loop %}{% endblock %}

{% block content %}
    <div class="auth-container">
        <div class="auth-card auth-card-large">
            <h2 class="auth-title">Obnova hesla</h2>

            <p class="auth-instruction-text">
                Zadaj email, s ktorým si sa registroval/a.
            </p>
            
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label>Emailová adresa:</label>
                    {{ form.email }} 
                </div>

                <button type="submit" class="btn-auth">
                    ODOSLAŤ
                </button>
            </form>
        </div>
    </div>
{% endblock %}