<!DOCTYPE html>
<html>
<head>
    <title>Zoznam Profilov</title>
</head>
<body>
    
    {% include 'core/navbar.html' %} 
    
    <h1>Zoznam všetkých profilov</h1>
    
    {% for profil in profily %}
        <div style="margin-bottom: 5px;">
            <h3>
                <a href="{% url 'profil_detail' profil.id %}">
                    {{ profil.nickname }}
                </a>
            </h3>
        </div>
        <hr>
    {% empty %}
        <p>Zatiaľ nemáme žiadne profily v databáze.</p>
    {% endfor %}

    <p>Aktuálny dátum a čas: {{ datum_a_cas }}</p>
</body>
</html>