{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gamerský Projekt{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_head %}{% endblock %} 
</head>
<body class="dark-mode-body">

    {% block background_video %}
        <video autoplay muted loop id="video-background">
            
            <source src="{% static 'video/vaporwave_backround.mp4' %}" type="video/mp4">
            
            Váš prehliadač nepodporuje video tag.
        </video>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var vid = document.getElementById("video-background");
                if (vid) {
                    vid.playbackRate = 0.7; 
                }
            });
        </script>
    {% endblock %}
    {% include 'core/navbar.html' %} 

    <main style="padding-top: 70px;"> 
        <div style="min-height: 80vh;"> 
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% block scripts %}{% endblock %}
    
</body>
</html>